.main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.main > h1 {
  font-size: var(--font-size-2xl);
  padding-bottom: 2rem;
}

.insuranceList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 1rem;
  }
}
